# Gemini API keys
GEMINI_API_KEY=請填入第一組 Gemini API Key
GEMINI_API_KEY_2=請填入第二組 Gemini API Key
GEMINI_API_KEY_3=請填入第三組 Gemini API Key
GEMINI_API_KEY_4=請填入第四組 Gemini API Key
GEMINI_API_KEY_5=請填入第五組 Gemini API Key
